* {
  box-sizing: border-box;
}

body {
  font-weight: bold !important;
  font-family: arial !important;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.container {
  width: 100%;
}

.section {
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.right {
  float: right;
}

.left {
  float: left;
}

.red-text {
  color: red;
  text-align: left;
  padding-left: 6%;
  font-weight: bold;
  font-size: 12px;
}

.edit-error {
  padding-left: 0;
  padding-right: 10px;
}

.login-error {
  padding: 10px 0;
  color: red;
  text-align: center;
}

.login {
  padding: 80px;
}

.login form {
  background: #1fff93;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #1fff93;
  border-radius: 5px;
  text-align: center;
}

.login form input, .login form select {
  padding: 10px 0;
  border: 1px solid #1fff93;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  display: block;
}

.login form select option {
  text-align: center;
}

.login form input:focus {
  outline: none;
}

.button {
  background: #53ed96;
  font-weight: bold;
}

input.button:hover {
  background: #3bcc7a;
}

.sign-up {
  text-align: center;
  font-size: 13.33px;
  font-weight: bold;
  font-family: arial;
}

.sign-up a {
  display: block;
  background: #53ed96;
  width: 30%;
  margin: 0 auto;
  padding: 8px 0;
  border: 1px solid #53ed96;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.panel-home {
  background: #1fff93;
  padding: 20px;
  border-radius: 10px;
}

.panel-home ul li.left {
  line-height: 38px;
}

.panel-home ul li.right {
  padding-left: 10px;
}

.panel-home ul a {
  display: inline-block;
  padding: 10px;
  background: #53ed96;
  border-radius: 10px;
}

.panel-home ul a:hover {
  border: 1px solid black;
  padding: 9px;
}

.nav {
  background: #1fff93;
  padding: 20px;
  border-radius: 10px;
}

.active {
  background: #53ed96;
}

.nav ul li {
  padding: 7px 0;
  border-radius: 10px;
}

.nav ul li a {
  display: block;
  padding: 5px 10px;
}

.main-section {
  padding: 20px;
  padding-right: 0;
  padding-top: 0;
  border-radius: 10px;
}

.profile-section {
  background: #d5ffd1;
  border-radius: 10px; 
  padding: 20px;
}

.profile-section ul li, .bankAccounts-section ul li {
  padding: 5px 0;
  padding-right: 10px;
}

.profile-section ul li a, .button, .bankAccounts-section ul li a{
  padding: 10px;
  display: inline-block;
  background: #53ed96;
  border-radius: 10px;
}

.profile-section ul li input, .bankAccounts-section ul li input {
  border: 1px solid black;
  line-height: 14px;
}

.profile-section ul li input[type="Submit"], .bankAccounts-section ul li input[type="Submit"]  {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
  padding: 10px;
  line-height: 18px;
  background: #53ed96;
  border: none;
  border-radius: 10px;
}

.bankAccounts-section {
  background: #d5ffd1;
  border-radius: 10px; 
  padding: 20px;
}

.bankAccounts-section table, .bankAccounts-section th, .bankAccounts-section tr, .bankAccounts-section td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.bankAccounts-section table {
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
}

.bankAccounts-section table th {
  background: #1FFF93;
}

.button {
  margin-bottom: 5px;
}

.not-found {
  padding: 10px;
}

i.remove-icon {
  font-size: 20px; 
  color: red;
}

i.edit-icon {
  font-size: 20px;
  color: black;
}

#show-password {
  display: inline-block;
}

i.eye-icon {
  cursor: pointer;
  margin-left: -30px;
  position: absolute;
  line-height: 57px;
  font-size: 20px;
  color: black;
}